@font-face {
    font-family: "SBSansText";
    src: url(./SBSansText-Thin.eot);
    src: url(./SBSansText-Thin.eot?#iefix) format("embedded-opentype"), url(./SBSansText-Thin.woff2) format("woff2"), url(./SBSansText-Thin.woff) format("woff"), url(./SBSansText-Thin.ttf) format("truetype"), url(./SBSansText-Thin.svg#SBSansText-Thin) format("svg");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: "SBSansText";
    src: url(./SBSansText-Light.eot);
    src: url(./SBSansText-Light.eot?#iefix) format("embedded-opentype"), url(./SBSansText-Light.woff2) format("woff2"), url(./SBSansText-Light.woff) format("woff"), url(./SBSansText-Light.ttf) format("truetype"), url(./SBSansText-Light.svg#SBSansText-Light) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "SBSansText";
    src: url(./SBSansText-Regular.eot);
    src: url(./SBSansText-Regular.eot?#iefix) format("embedded-opentype"), url(./SBSansText-Regular.woff2) format("woff2"), url(./SBSansText-Regular.woff) format("woff"), url(./SBSansText-Regular.ttf) format("truetype"), url(./SBSansText-Regular.svg#SBSansText-Regular) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "SBSansText";
    src: url(./SBSansText-Medium.eot);
    src: url(./SBSansText-Medium.eot?#iefix) format("embedded-opentype"), url(./SBSansText-Medium.woff2) format("woff2"), url(./SBSansText-Medium.woff) format("woff"), url(./SBSansText-Medium.ttf) format("truetype"), url(./SBSansText-Medium.svg#SBSansText-Medium) format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "SBSansText";
    src: url(./SBSansText-Semibold.eot);
    src: url(./SBSansText-Semibold.eot?#iefix) format("embedded-opentype"), url(./SBSansText-Semibold.woff2) format("woff2"), url(./SBSansText-Semibold.woff) format("woff"), url(./SBSansText-Semibold.ttf) format("truetype"), url(./SBSansText-Semibold.svg#SBSansText-Semibold) format("svg");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "SBSansText";
    src: url(./SBSansText-Bold.eot);
    src: url(./SBSansText-Bold.eot?#iefix) format("embedded-opentype"), url(./SBSansText-Bold.woff2) format("woff2"), url(./SBSansText-Bold.woff) format("woff"), url(./SBSansText-Bold.ttf) format("truetype"), url(./SBSansText-Bold.svg#SBSansText-Bold) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "SBSansText";
    src: url(./SBSansText-Heavy.eot);
    src: url(./SBSansText-Heavy.eot?#iefix) format("embedded-opentype"), url(./SBSansText-Heavy.woff2) format("woff2"), url(./SBSansText-Heavy.woff) format("woff"), url(./SBSansText-Heavy.ttf) format("truetype"), url(./SBSansText-Heavy.svg#SBSansText-Heavy) format("svg");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: "SBSansDisplay";
    src: url(./SBSansDisplay-Thin.eot);
    src: url(./SBSansDisplay-Thin.eot?#iefix) format("embedded-opentype"), url(./SBSansDisplay-Thin.woff2) format("woff2"), url(./SBSansDisplay-Thin.woff) format("woff"), url(./SBSansDisplay-Thin.ttf) format("truetype"), url(./SBSansDisplay-Thin.svg#SBSansDisplay-Thin) format("svg");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: "SBSansDisplay";
    src: url(./SBSansDisplay-Light.eot);
    src: url(./SBSansDisplay-Light.eot?#iefix) format("embedded-opentype"), url(./SBSansDisplay-Light.woff2) format("woff2"), url(./SBSansDisplay-Light.woff) format("woff"), url(./SBSansDisplay-Light.ttf) format("truetype"), url(./SBSansDisplay-Light.svg#SBSansDisplay-Light) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "SBSansDisplay";
    src: url(./SBSansDisplay-Regular.eot);
    src: url(./SBSansDisplay-Regular.eot?#iefix) format("embedded-opentype"), url(./SBSansDisplay-Regular.woff2) format("woff2"), url(./SBSansDisplay-Regular.woff) format("woff"), url(./SBSansDisplay-Regular.ttf) format("truetype"), url(./SBSansDisplay-Regular.svg#SBSansDisplay-Regular) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "SBSansDisplay";
    src: url(./SBSansDisplay-SemiBold.eot);
    src: url(./SBSansDisplay-SemiBold.eot?#iefix) format("embedded-opentype"), url(./SBSansDisplay-SemiBold.woff2) format("woff2"), url(./SBSansDisplay-SemiBold.woff) format("woff"), url(./SBSansDisplay-SemiBold.ttf) format("truetype"), url(./SBSansDisplay-SemiBold.svg#SBSansDisplay-Semibold) format("svg");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "SBSansDisplay";
    src: url(./SBSansDisplay-Bold.eot);
    src: url(./SBSansDisplay-Bold.eot?#iefix) format("embedded-opentype"), url(./SBSansDisplay-Bold.woff2) format("woff2"), url(./SBSansDisplay-Bold.woff) format("woff"), url(./SBSansDisplay-Bold.ttf) format("truetype"), url(./SBSansDisplay-Bold.svg#SBSansDisplay-Bold) format("svg");
    font-weight: 800;
    font-style: normal
}
